@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Mono:wght@400;700&display=swap');

/* 
Body Styling
*/
body {
    background-color: var(--main);
    font-family: "Roboto", sans-serif;
}

.fade-in {
    animation: fade-in 0.6s cubic-bezier(.165,.84,.44,1) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main {
    padding: 0;
    padding-bottom: 50px;
}

pre[class*=language-] {
    margin: 1.25em 0;
}

.mark, mark {
    background: linear-gradient(137deg, #aeefff 0%, #aeefff 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
}

dl, ol, ul {
    margin-bottom: 12px;
}

/*
Paragraph Styling
*/
p {
    font-size: 16px;
    margin-bottom: 12px;
    letter-spacing: 0.02em;
    line-height: 24px;
}

p::before {
    content: "//";
    color: #d7d7d7;
    font-weight: 900;
    font-size: 14px;
    margin-right: 10px;
    letter-spacing: -3px;
}

.p-exclude p::before {
    content: "";
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.main p a, .toc a {
    position: relative;
    border-bottom: 2px dotted #000;
    white-space: nowrap;
}

.main p a::before, .toc a::before {
    content: '';
    background-color: transparent;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all .15s ease-in-out;
}

.main p a:hover, .toc a:hover {
    color: #fff;
    border-bottom: none;
    bottom: -2px;
}

.main p a:hover::before, .toc a:hover:before {
    background-color: #000;
    left: 0;
    width: 100%;
}

.navbar a {
    border: none;
}

.tag a {
    color: inherit;
    border: none;
}

.navbar {
    background-color: var(--main) !important;
}

.navbar-light .navbar-nav .nav-link {
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
    background-color: #ebebeb;
}

/*
Headers Styling
*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0;
    padding-bottom: 10px;
}

h1 {
    font-size: 2em;
    padding-top: 60px;
}

h2 {
    font-size: 1.5em;
    padding-top: 40px;
}

h3 {
    font-size: 1.25em;
    padding-top: 30px;
}

h4 {
    font-size: 1em;
    padding-top: 15px;
}

h1::before, h2::before {
    content: "#";
    color: #d7d7d7;
    font-weight: 900;
    margin-right: 10px;
}

/*
Timeline Styling
*/
.timeline {
    display: inline-block;
    position: relative;
}

.timeline--content {
    display: flex;
    position: relative;
    margin-left: 40px;
    padding-bottom: 50px;
}

.timeline--content:first-child {
    padding-bottom: 65px;
}

.timeline--content p {
    position: relative;
    top: -5px;
    margin-bottom: 0;
}

.timeline--content p.year {
    margin-top: 10px;
}

.timeline--content:not(:last-child)::before {
    content: " ";
    position: absolute;
    border-left: 3px solid #000;
    left: -41.5px;
    height: 100%;
}

.timeline--content:first-child::before {
    border-left-style: dashed;
}

.timeline--content::after {
    content: " ";
    position: absolute;
    background-color: #000;
    height: 16px;
    width: 16px;
    border: 3px solid #000;
    border-radius: 100px;
    top: 0;
    left: -48px;
}

.timeline--content:first-child::after {
    background-color: var(--main);
}

.timeline--box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
    max-width: 450px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 8px 16px;
    top: -20px;
    box-shadow: #000 0 3px;
}

.timeline--box::before {
    content: '';
    position: absolute;
    border-color: transparent #000;
    border-style: solid;
    border-width: 10px;
    border-left-width: 0px;
    top: 14px;
    left: -13px;
}

.year {
    display: inline-block;
    color: var(--color-tag-year-primary) !important;
    background-color: var(--color-tag-year-bg);
    border-radius: 20px;
    margin: 0;
    padding: 0 1em;
    line-height: 24px;
}

/*
TOC Styling
*/
.toc ul {
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
}

.toc ul ul {
    margin: 5px 0;
}
  
.toc li {
list-style: none;
position: relative;
padding: 0 0 0 20px;
}

.toc li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    height: 6px;
    width: 6px;
    border: 1px solid #000;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}

/*
Carousel Styling
*/
.carousel.slide {
    margin-bottom: 12px;
}

/*
Projects Page Styling
*/
.project-box {
    position: relative;
    background-color: #ffffff59;
    font-family: "Roboto", sans-serif;
    border: 3px solid #000000cc;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    box-shadow: #000000cc 0 3px;
    overflow: hidden;
    transition: 0.15s all ease-in-out;
}

.project-box:hover {
    transform: translateY(3px);
    box-shadow: 0 0 0 0;
}

.project-box h5 {
    padding: 0;
}

.project-box-thumbnail img {
    width: 100%;
    height: 100%;
}

.project-box-info {
    padding: 16px;
}

p.project-description {
    font-size: 16px;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px dashed #000;
    padding-top: 8px;
}

.developed-date {
    font-size: 12px;
    color: rgb(126, 126, 126);
    letter-spacing: 1px;
}

.entry-link {
    position: absolute;
    border: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*
Individual Project Page Styling
*/
h1.project-title {
    max-width: 500px;
}

h1.project-title::before {
    content: "";
    margin: 0;
}

.project-footer {
    font-weight: bold;
    font-size: 14px;
    border-top: 2px dashed #000;
    margin: 100px 0 50px 0;
    padding-top: 10px;
}

/*
Tag Styling
*/
.tag {
    font-family: "roboto mono", monospace;
    font-size: 14px;
    font-weight: 500 !important;
    border-radius: 10px;
    padding: 4px 10px;
    border: 2px solid;
    vertical-align: middle;
    letter-spacing: 0.5px;
    box-shadow: 0px 2px;
    transition: 0.15s all ease-in-out;
}

.tag::before {
    content: "#";
    color: #2b272f;
    margin-right: 1px;
}

a.tag:hover {
    transform: translateY(2px);
    box-shadow: 0 0 0 0;
}

.tag span {
    color: #2b272f;
}

.tag-2020, .tag-2021, .tag-2022 {
    color: var(--color-tag-year-primary);
    border-color: var(--color-tag-year-primary);
    background-color: var(--color-tag-year-bg);
}

.tag-IP {
    color: var(--color-tag-ip-primary);;
    border-color: var(--color-tag-ip-primary);
    background-color: var(--color-tag-ip-bg);
}

.tag-3D {
    color: var(--color-tag-3d-primary);
    border-color: var(--color-tag-3d-primary);
    background-color: var(--color-tag-3d-bg);
}

.tag-programming {
    color: var(--color-tag-programming-primary);
    border-color: var(--color-tag-programming-primary);
    background-color: var(--color-tag-programming-bg);
}

.tag-web {
    color: var(--color-tag-web-primary);
    border-color: var(--color-tag-web-primary);
    background-color: var(--color-tag-web-bg);
}

.tag-tools {
    color: var(--color-tag-tools-primary);
    border-color: var(--color-tag-tools-primary);
    background-color: var(--color-tag-tools-bg);
}

.tag-breakdown {
    color: var(--color-tag-breakdown-primary);
    border-color: var(--color-tag-breakdown-primary);
    background-color: var(--color-tag-breakdown-bg);
}

/*
Self-defined font-family for ease of use
*/
.ff-firacode {
    font-family: "Fira Code", monospace;
}

.ff-firacode-b {
    font-family: "Fira Code", monospace;
    font-weight: 700;
}

.ff-roboto {
    font-family: "Roboto", sans-serif;
}

.ff-roboto-l {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.ff-roboto-m {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.ff-roboto-b {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

/*
Media Queries
*/
@media (min-width: 576px) {
    .main {
        padding-bottom: 50px;
    }

    .navbar-expand-sm .navbar-collapse {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    .main {
        padding: 0 50px;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .main {
        padding: 0 100px;
        padding-bottom: 50px;
    }

    .timeline {
        left: 50%;
    }

    .timeline--content.left {
        justify-content: right;
        right: 100%;
        margin-left: 0;
        margin-right: 40px;
    }

    .timeline--content.left:not(:last-child)::before {
        left: initial;
        right: -41.5px;
    }

    .timeline--content.left::after {
        left: initial;
        right: -48px;
    }

    .timeline--content.left .timeline--box::before {
        border-color: transparent #000;
        border-width: 10px;
        border-right-width: 0px;
        left: calc(100% + 3px);
    }
}

@media (min-width: 1200px) {
    .main {
        padding: 0 200px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1400px) {
    .main {
        padding: 0 300px;
        padding-bottom: 50px;
    }
}

:root {
    --main: #fffefb;
    --grey: #7e7e7e;
    --color-tag-year-primary: #754c00;
    --color-tag-year-bg: #ffd485;
    --color-tag-ip-primary:#007504;
    --color-tag-ip-bg:#85ff89;
    --color-tag-3d-primary:#006e85;
    --color-tag-3d-bg:#87ffff;
    --color-tag-programming-primary:#6d0075;
    --color-tag-programming-bg:#f785ff;
    --color-tag-web-primary:#000e75;
    --color-tag-web-bg:#8593ff;
    --color-tag-tools-primary:#753700;
    --color-tag-tools-bg:#f7a964;
    --color-tag-breakdown-primary:#8d442e;
    --color-tag-breakdown-bg:#ff9e80;
}