@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Mono:wght@400;700&display=swap');

/* 
Body Styling
*/
body {
    background-color: #fcfcfc;
    font-family: "Roboto", sans-serif;
}

.fade-in {
    animation: fade-in 0.6s cubic-bezier(.165,.84,.44,1) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main {
    padding: 0;
    padding-bottom: 50px;
}

pre[class*=language-] {
    margin: 1.25em 0;
}

.mark, mark {
    padding: 0em 0.6em;
    background-color: #dbf3f9;
    border-radius: 20px;
}

dl, ol, ul {
    margin-bottom: 12px;
}

/*
Paragraph Styling
*/
p {
    font-size: 16px;
    margin-bottom: 12px;
    letter-spacing: 0.2px;
    line-height: 24px;
}

p::before {
    content: "//";
    color: #d7d7d7;
    font-weight: 900;
    font-size: 14px;
    margin-right: 10px;
    letter-spacing: -3px;
}

.p-exclude p::before {
    content: "";
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.main p a, .toc a {
    position: relative;
    border-bottom: 2px dotted #000;
    white-space: nowrap;
}

.main p a::before, .toc a::before {
    content: '';
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 5px;
    z-index: -1;
    transition: all .15s ease-in-out;
}

.main p a:hover, .toc a:hover {
    color: #fff;
    border-bottom: none;
}

.main p a:hover::before, .toc a:hover:before {
    background-color: #000;
    bottom: 0;
    height: 100%;
}

.navbar a {
    border: none;
}

.tag a {
    color: inherit;
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
    background-color: #ebebeb;
}

/*
Headers Styling
*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0;
    padding-bottom: 15px;
}

h1 {
    font-size: 2em;
    padding-top: 60px;
}

h2 {
    font-size: 1.5em;
    padding-top: 40px;
}

h3 {
    font-size: 1.25em;
    padding-top: 30px;
}

h1::before, h2::before {
    content: "#";
    color: #d7d7d7;
    font-weight: 900;
    margin-right: 10px;
}

/*
Timeline Styling
*/
.timeline--content {
    display: block;
    position: relative;
    margin-left: 30px;
}

.timeline--content {
    padding-bottom: 40px;
}

.timeline--content p {
    position: relative;
    top: -5px;
    margin-bottom: 0;
}

.timeline--content p.year {
    margin-top: 10px;
}

.timeline--content:not(:last-child)::before {
    content: " ";
    position: absolute;
    border-left: 3px solid #000;
    left: -30px;
    height: 100%;
}

.timeline--content:first-child::before {
    content: " ";
    position: absolute;
    border-left: 3px dotted #000;
    left: -30px;
    height: 100%;
}


.timeline--content::after {
    content: " ";
    position: absolute;
    background-color: #000;
    top: 0;
    left: -36.5px;
    height: 16px;
    width: 16px;
    border-radius: 100px;
}

.year {
    display: inline-block;
    color: var(--color-tag-year-text) !important;
    background-color: var(--color-tag-year-bg);
    border-radius: 20px;
    margin: 0;
    padding: 0 1em;
    line-height: 24px;
}

/*
Projects Page Styling
*/
.project-box {
    position: relative;
    color: var(--grey);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    transition: 0.15s transform ease-in-out;
}

.project-box:hover {
    transform: scale(0.96);
}

.project-box p {
    color: rgb(126, 126, 126);
}

.project-box h5 {
    padding: 0;
}

p.project-description {
    font-size: 15px;
}

.developed-date {
    font-size: 12px;
    color: rgb(126, 126, 126);
    letter-spacing: 1px;
}

.entry-link {
    position: absolute;
    border: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*
Individual Project Page Styling
*/
h1.project-title {
    max-width: 500px;
}

h1.project-title::before {
    content: "";
    margin: 0;
}

.project-footer {
    font-weight: bold;
    font-size: 14px;
    border-top: 2px dashed #000;
    margin-top: 50px;
    padding-top: 5px;
}

/*
Tag Styling
*/
.tag {
    font-family: "roboto mono", monospace;
    font-size: 14px;
    font-weight: 700;
    border-radius: 15px;
    padding: 3px 13px;
    border: none;
    vertical-align: middle;
    letter-spacing: 0.5px;
    transition: 0.15s transform ease-in-out;
}

.tag::before {
    content: "#";
    margin-right: 1px;
}

.tag:hover {
    transform: scale(1.05);
}

.tag-2020, .tag-2021, .tag-2022 {
    color: var(--color-tag-year-text);
    background-color: var(--color-tag-year-bg);
}

.tag-IP {
    color: var(--color-tag-ip-text);
    background-color: var(--color-tag-ip-bg);
}

.tag-3D {
    color: var(--color-tag-3d-text);
    background-color: var(--color-tag-3d-bg);
}

.tag-programming {
    color: var(--color-tag-programming-text);
    background-color: var(--color-tag-programming-bg);
}

.tag-web {
    color: var(--color-tag-web-text);
    background-color: var(--color-tag-web-bg);
}

.tag-tools {
    color: var(--color-tag-tools-text);
    background-color: var(--color-tag-tools-bg);
}

/*
Self-defined font-family for ease of use
*/
.ff-firacode {
    font-family: "Fira Code", monospace;
}

.ff-firacode-b {
    font-family: "Fira Code", monospace;
    font-weight: 700;
}

.ff-roboto {
    font-family: "Roboto", sans-serif;
}

.ff-roboto-l {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.ff-roboto-m {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.ff-roboto-b {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

/*
Media Queries
*/
@media (min-width: 576px) {
    .main {
        padding-bottom: 50px;
    }
}

@media (min-width: 768px) {
    .main {
        padding: 0 50px;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .main {
        padding: 0 100px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1200px) {
    .main {
        padding: 0 200px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1400px) {
    .main {
        padding: 0 300px;
        padding-bottom: 50px;
    }
}

:root {
    --grey: #7e7e7e;
    --color-tag-year-text: #754c00;
    --color-tag-year-bg: #ffd485;
    --color-tag-ip-text:#007504;
    --color-tag-ip-bg:#85ff89;
    --color-tag-3d-text:#006e85;
    --color-tag-3d-bg:#87ffff;
    --color-tag-programming-text:#6d0075;
    --color-tag-programming-bg:#f785ff;
    --color-tag-web-text:#000e75;
    --color-tag-web-bg:#8593ff;
    --color-tag-tools-text:#753700;
    --color-tag-tools-bg:#f7a964;
}